aiofiles
anyio
boto3
click
deepdiff
defusedxml
dnspython
fastapi
fonttools
fpdf2
gunicorn
h11
httptools
idna
openpyxl
Pillow
pydantic
PyJWT
pymongo
PyPDF2~=2.0
python-decouple
python-dotenv
python-multipart
PyYAML
sniffio
starlette
svg.path
typing_extensions
uvicorn
uvloop
watchfiles
websockets
