aiofiles
anyio
apscheduler
boto3==1.26.53
click
deepdiff~=6.2.3
defusedxml
docxtpl
dnspython==2.3.0
fastapi==0.89.1
fonttools
fpdf2
gunicorn
h11
httptools
httpx
idna
numpy~=1.26
openpyxl~=3.0.10
pandas~=2.0.0
pandas_datareader~=0.10.0
Pillow==9.4.0
pydantic==1.10.4
PyJWT~=2.6.0
pymongo~=4.3.3
PyPDF2<3.0
python-decouple==3.7
python-dotenv
python-multipart
PyYAML
requests
sniffio
starlette==0.22.0
svg.path
typing_extensions
uvicorn==0.20.0
uvloop
watchfiles
websockets

botocore~=1.29.53
yfinance~=0.2.18
investpy~=1.0.8
typing~=3.7.4.3
vonage~=3.4.0
xmltodict