aiofiles
anyio
boto3==1.26.53
click
deepdiff
defusedxml
dnspython==2.3.0
fastapi==0.89.1
fonttools
fpdf2
gunicorn
h11
httptools
idna
openpyxl
pandas
Pillow==9.4.0
pydantic==1.10.4
PyJWT
pymongo
PyPDF2<3.0
python-decouple==3.7
python-dotenv
python-multipart
PyYAML
sniffio
starlette==0.22.0
svg.path
typing_extensions
uvicorn==0.20.0
uvloop
watchfiles
websockets
